Connexion WIFI : 

#define WIFI_SSID     "Serre"
#define WIFI_PASSWORD "********"

Paramètres MQTT :

#define MQTT_SERVER "192.XX.XX.XX"  
#define MQTT_PORT   8883            
#define NTP_SERVER  "192.XX.XX.XX"

Certificats mTLS :

const char ca_cert[] PROGMEM = R"EOF(
-----BEGIN CERTIFICATE-----
... (Autorité de Certification)
-----END CERTIFICATE-----
)EOF";

const char client_cert[] PROGMEM = R"EOF(
-----BEGIN CERTIFICATE-----
... (Certificat client M5Stack)
-----END CERTIFICATE-----
)EOF";

const char client_key[] PROGMEM = R"EOF(
-----BEGIN PRIVATE KEY-----
... (Clé privée client)
-----END PRIVATE KEY-----
)EOF";
