:root {
    --primary-color: #00922A;
    --secondary-color: #00B0F0;

    --success-color: #28a745;
    --danger-color: #dc3545;
    --warning-color: #ffc107;

    --info-color: #b81775;

    --light-color: #DBF0CC;
    --dark-color: #2A4914;

    --font-family: 'Ubuntu', sans-serif;
}

* {
    font-family: var(--font-family);
}

body {
    height: 100vh;
    margin: 0px !important;
    
    box-sizing: border-box;
}

.main {
    display: grid;
    grid-template-columns: 1fr 5fr;
    grid-template-rows: fit-content(100px) 10fr fit-content(150px);
    grid-column-gap: 0px;
    grid-row-gap: 0px;

    height: 100%;
}

.navbar {
    grid-area: 1 / 1 / 2 / 3;;
    
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    background-color: var(--primary-color);
}

    .account-management {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;

        gap: 10px;

        position: absolute;
        right: 20px;}

.sidebar {
    grid-area: 2 / 1 / 4 / 2;

    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: start;

    padding: 20px;

    background-color: var(--secondary-color);

}

.content {
    grid-area: 2 / 2 / 3 / 3;

    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: start;

    padding: 20px;

    background-color: var(--light-color);
}

.footerbar {
    grid-area: 3 / 2 / 4 / 3;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    padding: 10px;
    
    background-color: var(--primary-color);
}

.btn {
    display: inline-block;
    padding: 5px;
    background-color: white;
}

.btn-outline-valid {
    border: 1px solid var(--success-color);
}

.btn-outline-warning {
    border: 1px solid var(--warning-color);
}

.btn-outline-danger {
    border: 1px solid var(--danger-color);
}


/*style des pages de connexion*/


.wrapper {
    width: 500px;
    padding: 20px;
}


.wrapper h2 {
    text-align: center
}


.wrapper form .form-group span {
    color: red;
}